.message{
    border: 3px solid green;
    border-radius: 5px;
    padding: 10px;
    background: #cecece;
    color: green;
    font-size: 22px
}

.error{
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
    background: #cecece;
    color: red;
    font-size: 22px
}
.blog{
    padding-top: 10px;
    padding-left: 2px;
    border: 1px solid  #555;
    margin: 5px;
}